// Import CSS
@import "animations/animations";
@import "header/header";
@import "content/content";
@import "chat/chat";
@import "avatar/avatar";

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

////////////////////////

$blue: #002d85;

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.open-button {
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 65px;
    float: right;

    img {
        width: 65px;
    }
}

.open-message {
    margin: -7px -8px;
    height: 50%;
    
    i {
        font-size: 30px;
        margin-top: 5px;
        float: right;
    }
}

.open-message:hover {
    background: rgb(244, 246, 247);
    border-radius: 5px;
    cursor: pointer;
}

.open-tag {
    margin: -8px;
    margin-bottom: 30px;
    height: 35%;

    i {
        font-size: 20px;
        margin-top: 1px;
        float: right;
    }
}

.title-tag {
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee
}

.open-tag:hover {
    background: rgb(244, 246, 247);
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    min-height: 600px;
    max-height: 600px;
    display: none;
    position: fixed;
    width: 400px;
    bottom: 10px;
    right: 60px;
    z-index: 9;

    &--chat {
        -webkit-animation: fadeInUpLeft .5s ease-in-out;
        /* Chrome, Safari, Opera */
        animation: fadeInUpLeft .5s ease-in-out;
    }
}

.main {
    height: 530px;
    max-height: 530px;
    background: rgb(253, 250, 250);
}

.form-container {
    max-width: 400px;
    background-color: #fff;
}

.cancel {
    text-align: center;
    width: 40px;
    background: grey;
    float: right;
    margin-right: -12px;
    color: #fff;
    border-radius: 13px;
    margin-bottom: 3px;
    font-size: 18px;
    opacity: .7;
    cursor: pointer;
}

.cancel:hover {
    opacity: 1;
    color: #fff;
    text-decoration: none;
}

.scroll {
    margin-left: -10px;
    margin-right: -15px;
    margin-top: -10px;
    height: 85%;
    overflow-x: hidden;
}

.name-admin {
    margin-left: 18px;
    margin-bottom: -2px;
    opacity: .7;
}